@charset "UTF-8";

body{
  background-color: rgb(209, 229, 178);
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
}

header{
  height: 5px;
}

nav{
    padding: 2px 8px 0 2px;
    font-size: 20px; 
    /*background-color:  black; */
    word-spacing: 20px;
    text-align: right;
    text-transform: uppercase; 
}

nav a{
    color:rgb(246, 239, 239);    
 }

 nav a:hover{
    color: red;
  }

  section#sobre{
    background-color: rgb(209, 229, 178);
    width: 100%;
    margin: auto;  
  }

section#sobre>h2{
  font-size: 3em;
  color: rgb(216, 230, 214);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9);
}
  
.texto{
    font-size: 30px;
  }

.texto1{
    font-size: 25px;
  }

  section#sobre>a{
    font-size: 1.5em;
  }

  section#servico{
    background-color: rgb(209, 229, 178);
    width: 100%;
    margin: auto;        
  }

