@charset "UTF-8";

body{
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
}

nav{
    padding: 2px 2px 0 2px;
    font-size: 20px; 
    background-color:  black;
    word-spacing: 20px;
    text-align: right; 
}

nav a{
    color:white;    
 }

 nav a:hover{
    color: red;
  }
  
section#sobre{
    background-color: rgb(209, 229, 178);
    width: 100%;
    margin: auto;
    margin-top: 0px;
    padding: 10px;
  }

section#sobre>h2{
  font-size: 3em;
  color: rgb(216, 230, 214);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9);
}
  
.texto{
    font-size: 30px;
  }
  
.texto1{
    font-size: 25px;
  }

  a{
    font-size: 1.5em;
  }

section#serviços{
    background-color: rgb(209, 229, 178);
    width: 100%;
    margin: auto;
    margin-top: 0px;  
  }

  section#portfolio { 
    border: 5px solid #f00;
    padding: 10px;
  }

  .centro{
    text-align: center;
  }
  
section#map{
  background-color:brown ;
}

section#falecomigo{
    border: 5px solid black;
    padding-left: 10px;  
}

section#falecomigo>h2{
  text-align: center;
}

/*footer>div{ 
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
 }
*/ 
