@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/iDroid.otf') format('opentype');
    font-weight: normal;
} 
/*------ CONFIGURAÇÕES GLOBAIS -------------------*/ 
:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-android: 'Android', cursive;
    --fonte-destaque: 'Bebas Neue', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

/*-------------------------------------------------------*/

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    margin: 0 auto;
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    margin: 0 auto;
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
    min-height: 150px;  
    padding-top: 10px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.268);
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding: 0px 10px 0px 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
    padding-bottom: 20px;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}


nav > a{
    text-decoration: none;
    color:var(--cor1) ;
    font-weight: bold;
    padding: 5px;
    margin-right: 1px;  
 }

 nav a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
    transition-duration: .5s;
 }

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px; 
    background-color: white;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.410);

    /*------ TIPOS DE BORDA ----------
    border-top-left-radius
    border-top-right-radius     
    border-bottom-right-radius
    border-bottom-left-radius 
    ---------------------------------*/  
}

main h1{
    color: var(--cor5);
    font-family:var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.8em; 
}

main h2{
    color: var(--cor5);
    font-family:var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.8em;
    background-image:linear-gradient(to right, var(--cor1), transparent);
    text-indent: 6px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.6em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350PX;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 10px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside{
    background-color:var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.341);
}

aside > ul{
    list-style-type: '\2714\00A0\00A0'; /*coloca o check e o 00A0 coloca espaço. Não é compativel com todos os navegadores  */
    list-style-position: inside;
    columns: 2;
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor3);
    padding: 2px 5px;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;    
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
